
<div class="container-full" data-container="true"> 
  <div class="component-holder ng-binding ng-scope" data-component="crn-button" data-attribute-preview="" id="crn-button-446253" align="right"> 
    <button class="btn btn-default" type="submit" ng-click="redirectLogin()">Login</button> 
    <button class="btn btn-default" type="submit" ng-click="redirectRegister()" user.startinserting()="">Cadastro</button>
    <div class="component-holder ng-binding ng-scope" data-component="crn-button" data-attribute-preview="" id="crn-button-99699"></div>
    <div class="form-group" data-container="true"> 
      <!--<button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="form.$invalid || vm.dataLoading">{{"Login.view.Login" | translate}}</button>--> 
    </div>
    <div class="component-holder ng-binding ng-scope" data-component="crn-button" data-attribute-preview="" id="crn-button-929129"></div> 
  </div>
  
  <nav class="navbar navbar-default navbar-fixed-top"> 
    <div class="container-fluid"> 
      <div class="navbar-header"> 
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> 
        <a class="navbar-brand component-holder" data-component="crn-anchor" href="#">Meu Posto Favorito ⛽</a> 
      </div> 
      <div id="navbar" class="navbar-collapse collapse">
         <form class="navbar-form navbar-right" ng-submit="login()">
            <div class="form-group">
              <input type="text" class="form-control" ng-model="username.value" id="username" placeholder="{{'Login.view.Username' | translate}}">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" ng-model="password.value" id="password" placeholder="{{'Login.view.Password' | translate}}">
            </div>
             <div class="form-group" data-container="true"> 
              <div class="messages"> 
                <div ng-show="message.error" class="help-block">
                  {{message.error}}
                </div> 
              </div> 
            </div> 

            <button type="submit" class="btn btn-success" ng-disabled="form.$invalid || vm.dataLoading">{{"Login.view.Login" | translate}}</button> 
          </form>
        </div>
    </div> 
  </nav> 


  <div class="jumbotron">
      <div class="container" align="center">
        <h1>Seja bem vindo ao meu posto favorito 🎖 </h1>
        <p>Encontre fácil e rapidamente a opção mais econômica para abastecer seu carro!</p>
        <p><a class="btn btn-primary btn-lg" role="button" type="submit" ng-click="redirectRegister()" user.startinserting()="">Cadastre-se</a></p>
      </div>
    </div>
  <div class="container-fluid" data-container="true"> 
    <div class="component-holder ng-binding ng-scope" data-component="crn-datasource" data-attribute-preview="" id="crn-datasource-448698">
    <datasource filter="/listaRankingAbastecimentos" name="Abastecimento" entity="api/rest/Abastecimento" keys="id" rows-per-page="100" delete-message="Deseja remover?"></datasource>
    </div>
    <div class="component-holder ng-binding ng-scope" data-component="crn-button" data-attribute-preview="" id="crn-button-502461"></div>
    <h3 align="center">Postos Campões de Rentabilidade </h3>
    <div class="component-holder ng-binding ng-scope" data-component="crn-horizontal-container" data-attribute-preview="" id="crn-horizontal-container-509763">
      <div class="component-holder ng-binding ng-scope" data-component="crn-grid" data-attribute-preview="" id="crn-grid-708015">
        <div crn-datasource="dsPostos"> 
          <table class="table "> 
            <thead> 
            </thead> 
            <tbody>
              <tr class="table-content" ng-repeat="rowData in datasource.data"> 
              </tr> 
            </tbody> 
          </table> 
          <div class="table-footer-controls"> 
          </div> 
        </div>
      </div>
      <div class="component-holder ng-binding ng-scope" data-component="crn-grid" data-attribute-preview="" id="crn-grid-578679">
        <div crn-datasource="Abastecimento" align="center"> 
          <table class="table table-bordered"> 
            <thead class=""> 
              <tr class="table-header"> 
                <th class="active">
                  <div data-container="true" class="">
                    Postos
                  </div></th> 
                <th>
                  <div data-container="true">
                    Média
                  </div></th> 
                <th>
                  <div data-container="true">
                    Média Total
                  </div></th>
              </tr> 
            </thead> 
            <tbody class="">
              <tr class="table-active" ng-repeat="rowData in datasource.data"> 
                <td class="active">{{rowData.nomePosto}}</td> 
                <td class="genClass2529">{{rowData.mediaRentabilidadesPosto}}</td> 
                <td class="genClass197">{{rowData.mediaRentabilidadeGeral}}</td>
              </tr> 
            </tbody> 
          </table> 
          <div class="table-footer-controls"> 
            <button class="btn btn-default btn-block btn-clicked" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()">Load more...</button> 
          </div> 
        </div>
      </div>
      <div class="row" data-container="true" draggable="true"> 
        <div class="column col-md-4">
          <div class="component-holder ng-binding ng-scope" data-component="crn-combobox-dynamic" data-attribute-preview="" id="crn-combobox-dynamic-775080"></div>
        </div> 
        <div class="column col-md-4"></div> 
      </div>
    </div> 
  </div> 
  <div class="row" align="left">
        <div class="col-md-4">
          <h2>Postos</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
          <h2>Média</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
       </div>
        <div class="col-md-4">
          <h2>Média Total</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
      </div>

</div>