<h3>UserRole</h3>
<div data-component="crn-datasource" id="crn-datasource-763276" class="component-holder">
    <datasource filter="" name="UserRole" entity="api/security/UserRole" keys="id" rows-per-page="100" delete-message="Deseja remover?" class=""></datasource>
</div>
<div data-component="crn-button" id="crn-button-564202">
    <button class="btn btn-primary" type="submit" onclick="" ng-click="UserRole.startInserting()" ng-hide="UserRole.inserting || UserRole.editing"><i class="fa fa-user"></i> <span class="">{{"template.crud.new" | translate}}</span></button>
</div>
<div class="component-holder" data-component="crn-grid" id="crn-grid-UserRole">
    <div crn-datasource="UserRole" class="" ng-hide="UserRole.editing || UserRole.inserting">
        <table class="table  table-bordered table-hover table-striped">
            <thead>
            <tr class="table-header">
                <th class="">
                    <div class="">Id</div>
                </th>
                <th class="">
                    <div class="">User</div>
                </th>
                <th class="">
                    <div class="">Role</div>
                </th>
                <th class="">
                    <div class="">Theme</div>
                </th>
                <th class="">
                    <div class="">{{"template.crud.actions" | translate}}</div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-content" ng-repeat="rowData in datasource.data">
                <td class="">
                    <div class="">
                                {{rowData.id}}
                    </div>
                </td>
                <td class="">
                    <div class="">
                            {{rowData.user.email}}
                    </div>
                </td>
                <td class="">
                    <div class="">
                            {{rowData.role.name}}
                    </div>
                </td>
                <td class="">
                    <div class="">
                                {{rowData.theme}}
                    </div>
                </td>
                <td class="">
                    <div class="">
                        <button class="btn btn-default btn-sm" type="submit" ng-click="datasource.startEditing(rowData)"><i class="fa fa-edit"></i></button>
                        <button class="btn btn-default btn-sm" type="submit" ng-click="datasource.remove(rowData)"><i class="fa fa-times"></i></button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="table-footer-controls">
            <button class="btn btn-default btn-block btn-clicked" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()">{{"template.crud.load_more" | translate}}...</button>
        </div>
    </div>
</div>
<div data-component="crn-form" id="crn-form-form-UserRole">
    <div class="form" ng-show="UserRole.editing || UserRole.inserting">
        <form crn-datasource="UserRole" class="">
            <div class="tool-bar" ng-hide="datasource.editing || datasource.inserting">
                <button class="btn btn-primary" ng-click="datasource.startInserting()"><i class="glyphicon glyphicon-plus-sign"></i></button>
                <button class="btn btn-success" ng-click="datasource.startEditing()"><i class="glyphicon glyphicon-edit"></i></button>
                <button class="btn btn-primary" ng-disabled="!datasource.hasPrevious()" ng-click="datasource.previous()"><i class="glyphicon glyphicon-chevron-left"></i></button>
                <button class="btn btn-primary" ng-disabled="!datasource.hasNext()" ng-click="datasource.next()"><i class="glyphicon glyphicon-chevron-right"></i></button>
                <button class="btn btn-primary" ng-click="datasource.remove()"><i class="glyphicon glyphicon-trash"></i></button>
            </div>
            <div class="active-bar" ng-hide="!datasource.editing &amp;&amp; !datasource.inserting">
                <button class="btn btn-success" ng-click="datasource.post()"><i class="glyphicon glyphicon-ok"></i></button>
                <button class="btn btn-danger" ng-click="datasource.cancel()"><i class="glyphicon glyphicon-remove"></i></button>
            </div>
            <br/>
            <fieldset ng-disabled="!datasource.editing &amp;&amp; !datasource.inserting">
                    <div data-component="crn-datasource" class="component-holder">
                        <datasource name="user" entity="api/security/User" keys="id" class="" dependent-by="{{UserRole}}"></datasource>
                    </div>
                <div data-component="crn-combobox" id="crn-combobox-user">
                    <div class="form-group">
                        <label for="combobox-user" class="">User</label>
                            <ui-select ng-model="UserRole.active.user" crn-datasource="user" class="crn-select" id="combobox-user" >
                                <ui-select-match class="">
                                    {{$select.selected.email}}
                                </ui-select-match>
                                <ui-select-choices  repeat="rowData in datasource.data | filter : $select.search" class="">
                                    <div class="" data-container="true">
                                        {{rowData.email}}
                                    </div>
                                </ui-select-choices>
                            </ui-select>
                    </div>
                </div>
                    <div data-component="crn-datasource" class="component-holder">
                        <datasource name="role" entity="api/security/Role" keys="id" class="" dependent-by="{{UserRole}}"></datasource>
                    </div>
                <div data-component="crn-combobox" id="crn-combobox-role">
                    <div class="form-group">
                        <label for="combobox-role" class="">Role</label>
                            <ui-select ng-model="UserRole.active.role" crn-datasource="role" class="crn-select" id="combobox-role" >
                                <ui-select-match class="">
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices  repeat="rowData in datasource.data | filter : $select.search" class="">
                                    <div class="" data-container="true">
                                        {{rowData.name}}
                                    </div>
                                </ui-select-choices>
                            </ui-select>
                    </div>
                </div>
                <div data-component="crn-textinput" id="crn-textinput-theme">
                    <div class="form-group">
                        <label for="textinput-theme" class="">Theme</label>
                            <input
                                    type="text"
                                    ng-model="UserRole.active.theme"
                                    class="form-control"
                                    id="textinput-theme"
                                    placeholder="Theme"
                                    >
                    </div>
                </div>
                <!-- NtoN  -->
                <!-- NtoN  end-->
            </fieldset>
        </form>
        <form>
            <fieldset>
                <!-- OneToN -->
                <!-- OneToOne  end -->

            </fieldset>
        </form>
    </div>
</div>